html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
}
*{
    text-decoration: none;
}

/* navegador */

.bandeja{
    top: 0;
    right: -300px;
    width: 50%;
    position: fixed;
    height: 10vh;
}

.btn-close{
    font-size: 25px;
}

#nav{
    padding-left: 2%;
    background-color: #010700;
}

#logo_nav{
    height: 100px;
    width: 100dp;
    margin-left: 50xp;
}
    @media only screen and (max-width: 500px) {
        #logo_nav {
        height: 80px;
        width: 80px;
        }
    }

#agroexpress{
    height: 50px;
    width: auto;
    margin-right: 500px;
}
    @media only screen and (max-width: 1310px) {
        #agroexpress {
            margin-right: 450px;
        }
    }
    @media only screen and (max-width: 1250px) {
        #agroexpress {
            margin-right: 400px;
        }
    }
    @media only screen and (max-width: 1200px) {
        #agroexpress {
            margin-right: 350px;
        }
    }
    @media only screen and (max-width: 1160px) {
        #agroexpress {
            margin-right: 300px;
        }
    }
    @media only screen and (max-width: 1100px) {
        #agroexpress {
            margin-right: 250px;
        }
    }
    @media only screen and (max-width: 1040px) {
        #agroexpress {
            margin-right: 200px;
        }
    }
    @media only screen and (max-width: 1000px) {
        #agroexpress {
            padding-left: 15%;
        }
    }
    @media only screen and (max-width: 750px) {
        #agroexpress {
            height: 40px;
        }
    }
    @media only screen and (max-width: 680px) {
        #agroexpress {
            height: 35px;
        }
    }
    @media only screen and (max-width: 655px) {
        #agroexpress {
            height: 30px;
        }
    }
    @media only screen and (max-width: 625px) {
        #agroexpress {
            height: 25px;
        }
    }
    @media only screen and (max-width: 610px) {
        #agroexpress {
            display: none;
        }
    }

#btn_img{
    height: 50px;
    width: 50px;
    display: block;
    margin-top: -5%;
    margin-left: 7%;
}

.nav-link:hover,.nav_link:focus{
    border-bottom: 2px solid #53704B;
    background-size: 90% 2px;
}

#enlaces1cam{
    width: max-content;
    color: aliceblue;
    margin-left: 2%;
}
#enlaces1cam:hover{
    color: #19ad05;    
}
#enlaces2cam{
    width: max-content;
    color: aliceblue;
    margin-left: 7%;
}
#enlaces2cam:hover{
    color: #19ad05;    
}

    @media only screen and (max-width: 990px) {
        #enlaces2cam {
            margin-left: 2%;
        }
        #btn_img{
            width: 30px;
            height: 30px;
            margin-top: 1%;
            margin-left: 2%;
        }
    }

/* bandeja */
.bandeja{
    top: 0;
    right: -300px;
    width: 15%;
    position: fixed;
    height: 100vh;
}

.bandeja2{
    top: 0;
    right: -300px;
    width: 15%;
    position: fixed;
    height: 100vh;
}

.btn-close{
    font-size: 25px;
}

/* cartas */

.boton_editar{
    width: max-content;
    height: auto;
    margin: 1%;
    margin-left: auto;
    display: block;
    float: right;
    font-size: 10px;
    border: none;
}
.boton_editar:hover{
    background-color: #61b656;
}

#cartas{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 1%;
    width: 18rem;
}

.card-img-top{
    width: 90%;
    height: 90%;
}

/* modal */

.modal-header{
    background-color: #146300;
}
.modal-title{
    color: white;
}
.btn_edit{
    background-color: #146300;
    color: #dbddda;
}
.btn-vermas{
    background-color: #1b8002;
    color: #dbddda;
}

/* boton flotante */

.contenedor{
    width:90px;
    height:90px;
    position:absolute;
    right:0px;
    bottom:15%;
  }
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#146300;
    right:0;
    bottom:0;
    position:absolute;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
/* footer */

#foot_copy{
    background-color: #000000;
}
/* despacho */

.contenido{
    background-color: #dbddda;
    color: #146300;
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 2%;
    border-color: #146300;
    flex-wrap: row;
    justify-content: space-between;
}

.contenido:hover{
    background-color: #418522fa;
    color: #ffffff;
    margin: 1%;
    padding: 1%;
}

    @media only screen and (max-width: 742px){
    .contenido {
        display: flex;
        flex-direction: column;

    }
    }

.contenido2{
    background-color: #dbddda;
    color: #010700;
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 2%;
    border-color: #146300;
    flex-wrap: row;
    justify-content: space-between;
}
.img_desp{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
