html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    
}

*{
  text-decoration: none;
}

/* nav */

#logo_nav{
    height: 100px;
    width: 100dp;
    margin-left: 50xp;
}
  @media only screen and (max-width: 500px) {
    #logo_nav {
      height: 80px;
      width: 80px;
    }
  }
#agroexpress{
  height: 50px;
  width: auto;
  margin-right: 500px;
  
}
  @media only screen and (min-width: 250px) and (max-width: 800px) {
    #agroexpress {
      width: 150px;
      height: 0px;
      margin: 0px;

    }
  }


#navegador{
    margin-left: -20%;
    margin-right: 10%;
}

.nav_link{
    width: max-content;
    color: aliceblue;    
}

.navbar-brand{
  margin-left: 1%;
  font-weight: 500%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  @media only screen and (max-width: 1000px) {
    .nav-item3 {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
      margin-top: 1%;
      margin-bottom: 1%;
    
    }
  }

.nav-item4{
  margin-left: 10px;
}

  @media only screen and (max-width: 1000px) {
    .nav-item4 {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  }

.nav-item3:hover,.nav-item4:hover{
  border-bottom: 2px solid #53704B;
}

/* cartas */

#cartas{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  margin: 1%;
  width: 255px;
  box-shadow: 0 0 30px grey;
}
.card:hover{
  margin: 1%;
  width: 260px;
  box-shadow: 0 0 30px #058100;
}
  @media only screen and (max-width: 1000px) {
    .card {
      margin: 1%;
      width: 260px;
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
      margin: 1%;
      width: 200px;
    }
    .card-img-top2{
      width: 30%;
      height: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
    }
    .texto-carta{
      font-size: 10px;
    }
  }
.card-img-top{
  width: 90%;
  height: 90%;
}
.card-img-top2{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.links{
  color: #19ad05;
}

.links:hover{
  color: #53704B;
  transform: scale(1.2);
}

  /* header{
    height:170px;
    color:#FFF;
    font-size:20px;
    font-family:Sans-serif;
    background:#009688;
    padding-top:30px;
    padding-left:50px;
  }
  .contenedor{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
  } */
/* boton flotante */

.btn-flotante {
  color: #ffffff; 
  border-radius: 5px; 
  background-color: #037701a3; 
  padding: 18px 30px; 
  position: fixed;
  bottom: 30px;
  right:30px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px #ffffff1a;
  z-index: 99;
}
.btn-flotante:hover {
  background-color: #ffffff; 
  box-shadow: 0px 15px 20px #0000004d;
  transform: translateY(-7px);
}
  @media only screen and (max-width: 600px) {
    .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }                                                        
}

/* footer */

#foot_copy{
  background-color: #000000;
}

.redes:hover{
  border-bottom: 2px solid #146300;
}
.contenido_foot{
  font-size: 13px; 
  margin: 1%; 
  color: #bdbdbd;
}
.contenido_foot:hover{
  color: #ffffff;
}

/* preloader */

/* .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader-spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


.preloader-wrapper {
  /* background-image: url(/pagina-web-proyecto/img/fondoverde.png); */
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader-logo {
  width: 100px; /* ajusta el tamaño del logo según sea necesario */
}

/* Definir la animación con una duración de 3 segundos */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Aplicar la animación al elemento deseado con una duración de 3 segundos */
.elemento {
  opacity: 0;
  animation: fade-in 120s ease-in-out forwards;
}


