html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    /*font-size: 100%;
    font-weight: normal;*/
}

body{
    background-color: #e2e2e2;
    background-image: url(/img/fondo_1.png);
}

#logo_nav{
    height: 100px;
    width: 100dp;
    margin-left: 50xp;
}
@media only screen and (max-width: 500px) {
    #logo_nav {
      height: 80px;
      width: 80px;
    }
  }
  
  #agroexpress{
      height: 50px;
      width: auto;
  }
    
    @media only screen and (max-width: 750px) {
      #agroexpress {
        height: 40px;
      }
    }
    @media only screen and (max-width: 500px) {
      #agroexpress {
        height: 35px;
      }
    }
  
    @media only screen and (max-width: 450px) {
      #agroexpress {
        display: none;
      }
    }

.usua{
    font-size: 60px;
}

.cont{
    background-color: whitesmoke;
    border: 2px solid #457317;
}

.cont2{
    background-color: whitesmoke;
    margin-left: 20%;
    padding: 2%;
    border-radius: 3%;
    border: 3px solid #457317;
}

label{
    color: #457317;
    font-size: 15px;
    font-weight: bold; 
    display:flex;
    justify-content: center;
    align-items: center;
}
#Enviar{
    background-color: #336104;
    font-size: 15px;
}
/* footer */

#foot_copy{
  background-color: #000000;
}

.redes:hover{
  border-bottom: 2px solid #146300;
}
.contenido_foot{
  font-size: 13px; 
  margin: 1%; 
  color: #bdbdbd;
}
.contenido_foot:hover{
  color: #ffffff;
}