.caja-contenedora{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 35rem;
    z-index: 20;
    background-color: rgb(232, 224, 224);
}

.container-acordeon{
    width: 100%;
}

.acordeon-inicio-comprador{
    display: flex;
    width: 100%;
    height: 100%;
}

.acordeon-inicio-comprador div{
    flex-grow: 1;
    width: 0px;
    opacity: .6;
    transition: width 0.3s ease;
}

.acordeon-inicio-comprador div div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acordeon-inicio-comprador div div a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    padding: .5% 14%;
    border-radius: 20px;
    margin-bottom: 10%;
    display: none;
    z-index: 2;
}

.caja-frutas-acordeon{
    background-image: url(/Img/Imagen-Frutas-acordeón.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: 20% 20%;
}

.caja-verduras-acordeon{
    background-image: url(/Img/Imagen-Verduras-acordeón.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: 20% 20%;
}

.caja-legumbres-acordeon{
    background-image: url(/Img/Imagenes-Legumbres-acordeón.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: 20% 20%;
}

.acordeon-inicio-comprador div:hover{
    width: 2%;
    opacity: 1;
}

.acordeon-inicio-comprador div:hover div{
    opacity: 1;
}

.acordeon-inicio-comprador div:hover a{
    display: block;
}

.contenedor-icon-categoria{
    width: 9%;
    margin-inline: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-icon-categoria h6{
    margin-top: 10%;
}

.categoria{
    object-fit: cover;
    overflow: hidden;
    background-color: black;
    border-radius: 50%;
    padding: 15%;
}

.categoria:hover{
    opacity: .8;
    cursor: pointer;
}

.carta-producto-comprador{
    width: 20%;
}

.boton-agregar-carrito-comprador{
    background-color: black;
    color: white;
    padding: 0.8% 10%;
    border-radius: 20px;
    border: none;
}

.contenedor-general-cartas-mas-vendido{
    overflow-x: scroll;
    white-space: nowrap;
}

.contenedor-general-cartas-mas-vendido .carta-producto-comprador-mas-vendido{
    display: inline-block;
    margin-inline: 2%;
    width: 25%;
}

/*Carrito comprador*/

