*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.caja-imagen{
    background-image: url(../Img/pexels-saraí-carrasco-17060513.jpg);
    background-size: cover;
    background-position: center;
    border-radius: inherit;
    overflow: hidden;
}

.caja-imagenFormulario{
    height: 750px;
}

.caja-imagen{
    height: 100%;
}

.btn-red i{
    font-size: 20px;
}
